*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*! PROGRAMMA SCRITTO SENZA LIBRERIA ESTERNA */

/* FUNZIONALITÀ */
:root{
    --font-size-s:0.6rem;
    --font-size-m:1rem;
    --font-size-l:1.5rem;
    --font-size-xl:2rem;
    --font-size-xxl:3.5rem;
    --font-size-xxxl:5rem;
    --card-space: 2px;

    --color-card: #ec407a;
    --light-grey: #cdcdcd;
    --grey: #969696;
}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

/************************************************************/
main{
    background-color: var(--light-grey);
    height: 100vh;
}

.card{
    flex:0 1 100%;
    margin: 0 50px;

    text-align: center;
    border: 1px solid var(--grey);
    border-radius: 50px;
    overflow: hidden;
}

.card-header{
    background-color: var(--color-card);
    color: white;
}

.card-header,
.card-body{
    padding: 30px;
}

.wrapper{
    background-color: #ec407a;
    margin-top: 10px;
    padding: 10px;
    border-radius: 50px;

    color: white;
    font-weight: 700;
    font-size: var(--font-size-l);
}

/** Bottone per generare una nuova password */
button{
    cursor: pointer;
    font-size: var(--font-size-xl);
    border: none;
    background-color: transparent;
    color: white;
    margin-top: 10px;
    padding: 10px;
}

.fa-lock{
    display: none;
}

button:hover .fa-lock-open{
    display: none;
}

button:hover .fa-lock{
    display: inline-block;
}

#button-title{
    display: block;
    font-size: var(--font-size-m);
    margin-top: 10px;
    font-weight: 600;
}

/* Media query larghezza card */
@media screen and (min-width: 576px){
    .card{
        flex:0 0 540px;
    }
}

@media screen and (min-width: 768px){
    .card{
        flex:0 0 600px;
    }
}

@media screen and (min-width: 992px){
    .card{
        flex:0 0 775px;
    }
}

@media screen and (min-width: 1200px){
    .card{
        flex:0 0 937px;
    }
}
